<div>
    <h3>Search Results</h3>
    <ul>
        <% for (let i = 0; i < artistItems.length; i++) { %>
            <li>
                <a href="/artist/<%= artistItems[i].id %>">
                    <%= artistItems[i].name %>
                </a>
            </li>
        <% } %>
</div>

