<div class="home-page">
    <h3>Home</h3>
    <form action="/search-artist" method="get">
            <input type="text" name="artistName" placeholder="Search for an artist"/>
        <button type="submit">Search</button>
    </form>
    </div>
    